{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Devices{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for device in devices %}
    <article class="device">
      <header>
        <div>
          <h1>
            <a class="action" href="http://{{ device['dev_IP'] }}:{{ device['dev_PORT'] }}">{{ device['dev_character'] }}</a>
          </h1>
          
          
        
          <div class="about">
            
            <h2>Tipo: {{ device['dev_type'] }} </h2>
            <h3>IP {{ device['dev_IP'] }} Port {{ device['dev_PORT'] }}</h3>

            </div>
        </div>

      </header>
      <p class="body">{{ device['endpoints'] }}</p>
      <p class="body">{{ device['animations'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}