[Unit]
Description="Manager for devices and configurations"

[Service]
User=controlroom
Group=controlroom
WorkingDirectory=~/SOMA/
VIRTUAL_ENV=~/SOMA/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=~/SOMA/assetc/manager.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target